table {
    width: 100%;
    border-collapse: collapse;
}

td, tr, th{
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Guardian Sans Negrita', 'Guardian Sans Bold', 'Guardian Sans', sans-serif;                                  
}