table {
    width: 100%;
    font-family: 'Guardian Sans', sans-serif;
}

table th {
    background-color: transparent;
    align-items: center;
}

thead {
    font-size: 40px;
}

td {
    padding: 3.2px;
    text-align: center;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(2) {
    text-align: left;
    width: 55%;
    padding-left: 25px;
}

td:nth-child(3) {
    width: 25%;
}