table {
    width: 100%;
    border-collapse: collapse;
}

td, tr, th{
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Guardian Sans', sans-serif;                                   
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #0072ec;
}