body {
    font-family: 'Guardian Sans', sans-serif;
}

.container {
    width: 100%;
}

table {
    width: 90%;
    margin: 15px;
    border-collapse: collapse;
    border-radius: 40px 40px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #72abf5;
}

td {
    border: 2px solid #72abf5;
    padding: 10px 20px;
    font-size: 30px;
    text-align: center;
    min-width: 100px;
}

th {
    border: 2px solid #72abf5;
    font-size: 30px;
    color: black;
    font-weight: bold;
    background-color: transparent;
    height: 70px;
}

td:nth-child(2) {
    text-align: left;
    width: 60%;
}
