body {
    font-family: 'Guardian Sans', sans-serif;
}

#container {
    width: 100%;
}

table {
    width: 95%;
    margin: 15px auto;
    border-collapse: collapse;
    border-radius: 40px 40px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #72abf5;
}

td {
    border: 2px solid #72abf5;
    padding: 5px 15px;
    font-size: 30px;
    text-align: center;
}

th {
    border: 2px solid #72abf5;
    font-size: 35px;
    color: black;
    font-weight: bold;
    background-color: transparent;
    height: 70px;
}

tr.lvn td {
    color: #72abf5;
    font-size: 40px;
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    width: 60%;
}